* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    
    
}

main {
    background-image: url('/assets/images/earthphoto.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;

}



#zip{
    padding:5px;
    border-radius: 5px;
}

#search-bar {
    justify-content: center;
    margin: auto;
}

#search-btn {
    margin-left:5px;
}

#find-me-btn {
    display: block;
    margin: 5px;
    justify-content: center;
}

#home {
    
}



/* #home img {
    position: fixed;
    bottom: 0;
    margin: auto;
    z-index: 0;
} */

